[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
orator = "*"
ariadne = "*"
python-dotenv = "*"
arrow = "*"
pydash = "*"

[dev-packages]

[requires]
python_version = "3.9"
